body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
